/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border: transparent;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f1118c, #9e0c5c);
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #e563f1, #191a4d);
} */

.timeline-content {
  min-height: 100vh;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.1));
}
